@import "tailwindcss";

:root {
  --background: #ebe4d1;
  --foreground: #2b2b2b;
}

/* 如果你之前在 tailwind.config 里定义了颜色，现在直接在 CSS 里定义 */
@theme {
  /* 定义楷体字体族 */
/* 将 maShanZheng 变量绑定到 font-kaishu */
  --font-kaishu: var(--font-kaishu-title), "Ma Shan Zheng", cursive;

  /* 定义其他古风颜色 */
  --color-paper: #f9f4e8;
  --color-ink: #1a1a1a;
  --color-vermilion: #b2282e;
}

body {
  font-family: var(--font-kaishu-title), "Ma Shan Zheng", "STKaiti", "KaiTi", serif;
  background-color: #ebe4d1;
  color: #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-vermilion);
  border-radius: 10px;
  opacity: 0.2;
}